footer{
    color: black;
    max-height: 13rem;
}
footer > div{
    text-align: center;
    background-color: rgb(220, 220, 220);
    padding-bottom: 2.5rem;
}
footer h4{
    margin-bottom: 0.5rem;
}
footer .personal{
    display: inline-block;
    border-bottom: 0.05rem solid black;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}
footer p{
    margin: 0;
}
footer .social{
    padding-top: .5rem;
    display: flex;
    justify-content: space-around;
}