.App {
  position: relative;
  min-height: calc(100vh + 13rem) ;
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
html{
  scroll-behavior: smooth;
}